<h2>Add New Pet</h2>
<form action="/products" method="post">
  <div>
    Name: <input type="text" name="name" />
  </div>
  <div>
    Price: <input type="text" name="price" />
  </div>
  <div>
    Description: <input type="text" name="description" />
  </div>
  <div>
     Choose a supplier: <select name="supplier_id">
         <option value="">--Please choose an option--</option>
         <option value="1">PetSmart</option>
         <option value="2">PetCo</option>
         <option value="3">PetLand</option>
     </select>
  </div>
  <input type="submit" name="" value="Add Pet" />
</form>